{% extends "base.html" %}
{% block title %}Daniel Smith | Software Developer {% endblock %}
{% block content %}
<div class="container">
  <image src="{{ url_for('static', filename='images/face2.png')}}" />
  <div class="intro-text">
    <h1>Daniel Smith</h1>
    <hr>
    <h2>Software Developer in Lakewood, CO</h2>
  </div>
</div>
</header>
<section>
    <div class="about-me clearfix" id="about-me">
      <h1>About Me</h1>
      <hr/>
      <div class="column">
        <h1 style="font-size: 24px; text-decoration: underline;">Technologies</h1>
        <ul class="about-list">
          <li>Python</li>
          <li>Flask (Python framework)</li>
          <li>SQL</li>
          <li>C++</li>
          <li>HTML/CSS</li>
          <li>JavaScript</li>
          <li>Unix</li>
          <li>Git</li>
        </ul>
      </div>
      <div class="column">
        <h2>I am a skilled full stack software developer with a passion for creating the most secure software using industry best practices. I enjoy creating things that live on the internet, whether that be websites, applications, or anything in between. My goal is to always build products that provide pixel-perfect, performant experiences. With my wide skill set, I am able to build secure software with clean and elegant interface.</h2>
      </div>
    </div>
    <div class="projects clearfix" id="projects">
    <h1>Projects</h1>
      <hr/>
      <div class="container clearfix">
        <div class="column">
              <a href="https://artist-discovery.herokuapp.com/" target="_blank" ><image src="{{ url_for('static', filename='images/artist_finder.PNG')}}" /></a>
        </div>
        <div class="column">
          <ul class="project-list">
            <li><h1>Name:</h1><h2>Artist Discovery</h2></li>
            <li><h1>Description:</h1><h2>A lightweight, elegant Flask app that accesses the Spotify API and allows users to search for an artist's related artists.</h2></li>
            <li><h1>Technologies used:</h1><h2>Python, Flask, JavaScript, HTML, CSS, Spotify API, Git, Heroku</h2></li>
            <a href="https://github.com/dksmith328/artist_discovery" target="_blank" ><i class="fab fa-github"></i></a>
            <a href="https://artist-discovery.herokuapp.com/" target="_blank" ><i class="fas fa-rocket"></i></a>
          </ul>
        </div>
      </div>
      <div class="container clearfix">
        <div class="column">
              <a href="https://portfolio-recipe-app.herokuapp.com/" target="_blank" ><image src="{{ url_for('static', filename='images/our-recipe.PNG')}}" /></a>
        </div>
        <div class="column">
          <ul class="project-list">
            <li><h1>Name:</h1><h2>OurRecipe</h2></li>
            <li><h1>Description:</h1><h2>Simple recipe app that allows users to sign in and create a personal recipe database.</h2></li>
            <li><h1>Technologies used:</h1><h2>Flask, SQL(clearDB), HTML, CSS, JavaScript, Git, Heroku</h2></li>
            <a href="https://github.com/dksmith328/recipe_app" target="_blank" ><i class="fab fa-github"></i></a>
            <a href="https://portfolio-recipe-app.herokuapp.com/" target="_blank" ><i class="fas fa-rocket"></i></a>
          </ul>
        </div>
      </div>
      <div class="container clearfix">
        <div class="column">
              <a href="https://dksmith328.github.io/election-map/" target="_blank" ><image src="{{ url_for('static', filename='images/election.PNG')}}" /></a>
        </div>
        <div class="column">
          <ul class="project-list">
            <li><h1>Name:</h1><h2>Election Map</h2></li>
            <li><h1>Description:</h1><h2>Interactive Election Map using an HTML map and custom CSS. Hovering over individual states triggers the results of that state and fills in the desired field with a vote count and announces the winner of the state.</h2></li>
            <li><h1>Technologies used:</h1><h2>JavaScript, HTML, CSS</h2></li>
            <a href="https://github.com/dksmith328/election-map" target="_blank" ><i class="fab fa-github"></i></a>
            <a href="https://dksmith328.github.io/election-map/" target="_blank" ><i class="fas fa-rocket"></i></a>
          </ul>
        </div>
      </div>

    </div>
    <div class="contact-me clearfix" id="contact-me">
    <h1>Contact Me</h1>
      <hr/>
      <div class="contact">
         <h1>Email:</h1>
         <a href="mailto:dksmith328@gmail.com"><i class="fas fa-envelope"></i></a>
      </div>
      <div class="contact">
         <h1>Projects:</h1>
         <a href="https://github.com/dksmith328/" target="_blank" ><i class="fab fa-github"></i></a>
      </div>
      <div class="contact">
         <h1>Follow:</h1>
         <a href="https://www.linkedin.com/in/daniel-smith-296189201/" target="_blank"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="contact">
         <h1>Hire:</h1>
         <a href="static\file\dksmith_resume.docx"><i class="fas fa-download"></i></a>
      </div>
    </div>
</section>

{% endblock %}
